.past {
  font-family: arial;
}

.future {
  font-family: verdana;
}

img {
  width: 50%;
  height: auto;
  border-radius: 10%;
}

.about {
  font-family: arial;
  font-style: italic;
  color: #0f49a8;
}
